<h1>Listing Boosts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Socialite</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boosts.each do |boost| %>
      <tr>
        <td><%= image_tag boost.profile.url(:thumb) %></td>
        <td><%= boost.name %> </td>
        <td><%= "Sold by #{boost.user.name}" %></td>
        <td><%= boost.description %></td>
        <td><%= boost.price %></td>
        <td><%= link_to 'Show', boost %></td>
        <td><%= link_to 'Edit', edit_boost_path(boost) %></td>
        <td><%= link_to 'Destroy', boost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Boost', new_boost_path %>
<% end %>