<%= image_tag @boost.profile.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @boost.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boost.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @boost.price %>
</p>

<%= link_to 'BUY NOW', new_boost_order_path(@boost) %>

<%= link_to 'Edit', edit_boost_path(@boost) %> |
<%= link_to 'Back', boosts_path %>
